<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CredentialListPath" value="C:\Contents\Q1_output\cListdat.data"/>
    <add key="VotersListPath" value="C:\Contents\VoterList.txt"/>
    <add key="CandidatesListPath" value="C:\Contents\CandidateList.txt"/>
    <add key="RecordsPath" value="C:\Contents\Q2_output\"/>
    <add key="VotersVotedPath" value="C:\Contents\VotersVoted.txt"/>
  </appSettings>
</configuration>