<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="CredentialListPath" value="C:\Contents\Q1_output\cListdat.data"/>
    <add key="Campus1" value="210001"/>
    <add key="Campus2" value="210002"/>
  </appSettings>
</configuration>